img {
    max-width: 100%;
}

.header {

    background-image: url('../img/wall.png');
    background-size: 25% auto;

    h1 {
        font-family: "Edu TAS Beginner", cursive;
    }

}

.main {
    background-image: url('../img/cork.png');
    background-size: 25% auto;
}

.row .card-photo {

    z-index: 0;
    cursor: pointer;
    transition: all .25s ease;

    &:hover {
        z-index: 1;
        transform: scale(1.025) rotate(-10deg);

        .card-content {
            box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, .3);
        }
    }

}


.row .card-photo::after {
    content: url('../img/pin.svg');
    display: block;
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
}

.card-photo {

    .card-content {
        transition: all .25s ease;
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .3);
    }

    .photo-title {
        font-family: "Edu TAS Beginner", cursive;

    }

    .photo-date {
        font-family: "Sometype Mono", monospace;
    }

}

.overlay {

    background-color: rgba(0, 0, 0, .25);

    .card-photo, img {
        
        max-width: 480px;

    }
}

.close {
    width: 48px;
    height: 48px;
    cursor: pointer;
}